root = true

[*.{kt,kts}]
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_argument-list-wrapping = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-signature = disabled
ktlint_standard_enum-entry-name-case = disabled
ktlint_standard_import-ordering = disabled
ktlint_standard_property-naming = disabled
ij_kotlin_continuation_indent_size = 4
max_line_length = 140
