.gradle
build
/.kotlin/
/.idea/
**/charts/*.tgz
.DS_Store
/tiamat*xml
/*.osm.pbf
/*.osm.json
/*.ndjson
/matrikkelenAdresse.csv
/Basis*/*csv
/tmp/*
photon_data
photon_data.tar.xz
nominatim.ndjson.xz
nominatim.ndjson
photon*jar