services:
  netex-photon-server:
    build:
      context: .
      dockerfile: Dockerfile.photon
    image: netex-photon-server
    environment:
      - PHOTON_PORT=80 # Read in Dockerfile.photon
    ports:
      - "2322:80"
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=80
    restart: unless-stopped

  netex-photon-proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    image: netex-photon-proxy
    environment:
      - PROXY_PORT=80 # Read in Proxy.kt
    ports:
      - "8080:80"
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=80
    depends_on:
      - netex-photon-server
    restart: unless-stopped
