name: geocoder

services:
  photon:
    build:
      context: photon
      args:
        # Run geocoder/build-import-dev-image.sh first
        - IMPORT_IMAGE=geocoder-import:local
        # Should match env.photon_jar_url in .github/workflows/build-photon.yml
        - PHOTON_JAR_URL=https://github.com/entur/photon/releases/download/linear-decay/photon-0.7.0.jar
    hostname: geocoder-photon
    environment:
      - SERVER_PORT=80 # Accessed from photon/Dockerfile
    ports:
      - "2322:80"
      - "9404:9404" # Prometheus metrics
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=80
    restart: unless-stopped

  proxy:
    build:
      context: proxy
    hostname: geocoder-proxy
    environment:
      - SERVER_PORT=80 # Accessed from Proxy.kt
    ports:
      - "8080:80"
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=80
    depends_on:
      - photon
    restart: unless-stopped
