name: netex-photon

services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.photon
    hostname: netex-photon-server
    environment:
      - SERVER_PORT=80 # Accessed from Dockerfile.photon
    ports:
      - "2322:80"
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=80
    restart: unless-stopped

  proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    hostname: netex-photon-proxy
    environment:
      - SERVER_PORT=80 # Accessed from Proxy.kt
    ports:
      - "8080:80"
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=80
    depends_on:
      - server
    restart: unless-stopped
