openapi: 3.0.3
info:
  title: Geocoder
  version: 2.0.0
  description: Geocoding and reverse geocoding for Norwegian addresses and points of interest.
  contact:
    name: Team Ruter og reiseplanlegging
    url: https://developer.entur.org
  license:
    name: EUPL-1.2
    url: https://opensource.org/licenses/EUPL-1.2

servers:
  - url: https://api.entur.io/geocoder

tags:
  - name: Autocomplete
  - name: Reverse

security:
  - {}

paths:
  /v1/autocomplete:
    get:
      tags:
        - Autocomplete
      summary: Autocomplete search
      description: Search for places by text query
      operationId: autocompleteV2
      parameters:
        - $ref: '#/components/parameters/Text'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/BoundaryCountry'
        - $ref: '#/components/parameters/BoundaryCountyIds'
        - $ref: '#/components/parameters/BoundaryLocalityIds'
        - $ref: '#/components/parameters/TariffZoneIds'
        - $ref: '#/components/parameters/TariffZoneAuthorities'
        - $ref: '#/components/parameters/FareZoneAuthorities'
        - $ref: '#/components/parameters/Sources'
        - $ref: '#/components/parameters/Layers'
        - $ref: '#/components/parameters/Categories'
        - $ref: '#/components/parameters/FocusPointLat'
        - $ref: '#/components/parameters/FocusPointLon'
        - $ref: '#/components/parameters/FocusScale'
        - $ref: '#/components/parameters/FocusWeight'
        - $ref: '#/components/parameters/MultiModal'
        - $ref: '#/components/parameters/ETClientName'
      responses:
        '200':
          description: Matching places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'

  /v1/reverse:
    get:
      tags:
        - Reverse
      summary: Reverse geocode
      description: Convert coordinates to places
      operationId: reverseV2
      parameters:
        - $ref: '#/components/parameters/PointLat'
        - $ref: '#/components/parameters/PointLon'
        - $ref: '#/components/parameters/BoundaryCircleRadius'
        - $ref: '#/components/parameters/Size'
        - $ref: '#/components/parameters/Lang'
        - $ref: '#/components/parameters/BoundaryCountry'
        - $ref: '#/components/parameters/BoundaryCountyIds'
        - $ref: '#/components/parameters/BoundaryLocalityIds'
        - $ref: '#/components/parameters/TariffZoneIds'
        - $ref: '#/components/parameters/TariffZoneAuthorities'
        - $ref: '#/components/parameters/FareZoneAuthorities'
        - $ref: '#/components/parameters/Sources'
        - $ref: '#/components/parameters/Layers'
        - $ref: '#/components/parameters/Categories'
        - $ref: '#/components/parameters/MultiModal'
        - $ref: '#/components/parameters/ETClientName'
      responses:
        '200':
          description: Nearby places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'

components:
  parameters:
    ETClientName:
      name: ET-Client-Name
      in: header
      description: Client identifier
      schema:
        type: string
      example: "my-example-application"

    Text:
      name: text
      in: query
      required: true
      description: Search query
      schema:
        type: string
        minLength: 1
      example: "Oslo S"

    Size:
      name: size
      in: query
      description: Maximum results
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      example: 10

    Lang:
      name: lang
      in: query
      description: Language code
      schema:
        type: string
        default: "no"
      example: "no"

    BoundaryCountry:
      name: boundary.country
      in: query
      description: Country code filter (comma-separated)
      schema:
        type: string
      example: "NO"

    BoundaryCountyIds:
      name: boundary.county.ids
      in: query
      description: County IDs filter (comma-separated)
      schema:
        type: string
      example: "KVE:County:03"

    BoundaryLocalityIds:
      name: boundary.locality.ids
      in: query
      description: Locality IDs filter (comma-separated)
      schema:
        type: string
      example: "KVE:Locality:0301"

    TariffZoneIds:
      name: tariff_zone_ids
      in: query
      description: Tariff zone IDs filter (comma-separated)
      schema:
        type: string
      example: "RUT:TariffZone:1"

    TariffZoneAuthorities:
      name: tariff_zone_authorities
      in: query
      description: Tariff zone authorities filter (comma-separated)
      schema:
        type: string
      example: "RUT"

    FareZoneAuthorities:
      name: fare_zone_authorities
      in: query
      description: Fare zone authorities filter (comma-separated)
      schema:
        type: string
      example: "RUT:Authority:RUT"

    Sources:
      name: sources
      in: query
      description: Data sources filter (comma-separated)
      schema:
        type: string
        enum: [openstreetmap,openaddresses,whosonfirst]
      example: "openstreetmap"


    Layers:
      name: layers
      in: query
      description: Layer types filter (comma-separated)
      schema:
        type: string
        enum: [venue,address]
      example: "venue"

    Categories:
      name: categories
      in: query
      description: Categories filter (comma-separated)
      schema:
        type: string
      example: "onstreetBus"

    FocusPointLat:
      name: focus.point.lat
      in: query
      description: Focus latitude
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
      example: 59.9139

    FocusPointLon:
      name: focus.point.lon
      in: query
      description: Focus longitude
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
      example: 10.7522

    FocusScale:
      name: focus.scale
      in: query
      description: Focus scale (km)
      schema:
        type: integer
        minimum: 1
      example: 50

    FocusWeight:
      name: focus.weight
      in: query
      description: Focus weight
      schema:
        type: number
        format: double
        minimum: 0
      example: 15.0

    MultiModal:
      name: multiModal
      in: query
      description: Multi-modal mode
      schema:
        type: string
        enum: [parent, child, all]
        default: parent
      example: "all"

    PointLat:
      name: point.lat
      in: query
      required: true
      description: Latitude
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
      example: 59.9110

    PointLon:
      name: point.lon
      in: query
      required: true
      description: Longitude
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
      example: 10.7522

    BoundaryCircleRadius:
      name: boundary.circle.radius
      in: query
      description: Search radius (km)
      schema:
        type: number
        format: double
        minimum: 0
      example: 2.5

  schemas:
    Result:
      type: object
      required:
        - geocoding
        - type
        - features
      properties:
        geocoding:
          type: object
          required:
            - version
            - timestamp
          properties:
            version:
              type: string
              example: "0.2"
            query:
              type: object
              additionalProperties: true
            timestamp:
              type: integer
              format: int64
              example: 1732104123
            engine:
              type: object
              properties:
                name:
                  type: string
                  example: "Photon"
                version:
                  type: string
                  example: "0.7.0"
        type:
          type: string
          enum: [FeatureCollection]
        features:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
        bbox:
          type: array
          items:
            type: number
          minItems: 4
          maxItems: 4

    Feature:
      type: object
      required:
        - type
        - geometry
        - properties
      properties:
        type:
          type: string
          enum: [Feature]
        geometry:
          type: object
          required:
            - type
            - coordinates
          properties:
            type:
              type: string
              enum: [Point]
            coordinates:
              type: array
              items:
                type: number
              minItems: 2
              maxItems: 2
              example: [10.7522, 59.9110]
        properties:
          type: object
          properties:
            id:
              type: string
              example: "NSR:StopPlace:59872"
            gid:
              type: string
              example: "whosonfirst:address:NSR:GroupOfStopPlaces:1"
            layer:
              type: string
              enum: [venue, address]
              example: "venue"
            source:
              type: string
              enum: [openstreetmap, openaddresses, whosonfirst]
              example: "openstreetmap"
            source_id:
              type: string
              example: "NSR:StopPlace:59872"
            name:
              type: string
              example: "Oslo S"
            popular_name:
              type: string
              example: "Oslo Sentralstasjon"
            housenumber:
              type: string
              example: "42"
            street:
              type: string
              example: "Jernbanetorget"
            postalcode:
              type: string
              example: "0154"
            accuracy:
              type: string
              enum: [point, polygon]
              example: "point"
            country_a:
              type: string
              example: "NOR"
            county:
              type: string
              example: "Oslo"
            county_gid:
              type: string
              example: "whosonfirst:county:KVE:TopographicPlace:03"
            locality:
              type: string
              example: "Oslo"
            locality_gid:
              type: string
              example: "whosonfirst:locality:KVE:TopographicPlace:0301"
            borough:
              type: string
              example: "Sentrum"
            borough_gid:
              type: string
              example: "whosonfirst:borough:34200502"
            label:
              type: string
              example: "Oslo S, Oslo"
            category:
              type: array
              items:
                type: string
              example: ["street"]
            tariff_zones:
              type: array
              items:
                type: string
              example: ["RUT:TariffZone:1"]
            distance:
              type: number
              format: double
              example: 123.45
