openapi: 3.0.3
info:
  title: Geocoder
  version: 3.0.0
  description: Geocoding and reverse geocoding for Norwegian addresses and points of interest.
  contact:
    name: Team Ruter og reiseplanlegging
    url: https://developer.entur.org
  license:
    name: EUPL-1.2
    url: https://opensource.org/licenses/EUPL-1.2
  x-entur-metadata:
    id: geocoder-v3
    owner: team-ror
    audience: open

servers:
  - url: https://api.entur.io/geocoder

tags:
  - name: Autocomplete
  - name: Reverse
  - name: Place

security:
  - {}

paths:
  /v3/autocomplete:
    get:
      tags:
        - Autocomplete
      summary: Autocomplete search
      description: Search for places by text query
      operationId: autocompleteV3
      parameters:
        - $ref: '#/components/parameters/Query'
        - $ref: '#/components/parameters/AutocompleteLatitude'
        - $ref: '#/components/parameters/AutocompleteLongitude'
        - $ref: '#/components/parameters/AutocompleteRadius'
        - $ref: '#/components/parameters/AutocompleteWeight'
        - $ref: '#/components/parameters/Bbox'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Language'
        - $ref: '#/components/parameters/Layers'
        - $ref: '#/components/parameters/StopPlaceTypes'
        - $ref: '#/components/parameters/Sources'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/Counties'
        - $ref: '#/components/parameters/Localities'
        - $ref: '#/components/parameters/FareZones'
        - $ref: '#/components/parameters/FareZoneAuthorities'
        - $ref: '#/components/parameters/Multimodal'
        - $ref: '#/components/parameters/ETClientName'
      responses:
        '200':
          description: Matching places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'

  /v3/reverse:
    get:
      tags:
        - Reverse
      summary: Reverse geocode
      description: Convert coordinates to places
      operationId: reverseV3
      parameters:
        - $ref: '#/components/parameters/Latitude'
        - $ref: '#/components/parameters/Longitude'
        - $ref: '#/components/parameters/Radius'
        - $ref: '#/components/parameters/DistanceSort'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Language'
        - $ref: '#/components/parameters/Layers'
        - $ref: '#/components/parameters/StopPlaceTypes'
        - $ref: '#/components/parameters/Sources'
        - $ref: '#/components/parameters/Countries'
        - $ref: '#/components/parameters/Counties'
        - $ref: '#/components/parameters/Localities'
        - $ref: '#/components/parameters/FareZones'
        - $ref: '#/components/parameters/FareZoneAuthorities'
        - $ref: '#/components/parameters/Multimodal'
        - $ref: '#/components/parameters/ETClientName'
      responses:
        '200':
          description: Nearby places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'

  /v3/place:
    get:
      tags:
        - Place
      summary: Place lookup
      description: Look up one or more places by ID
      operationId: placeV3
      parameters:
        - $ref: '#/components/parameters/Ids'
        - $ref: '#/components/parameters/Language'
        - $ref: '#/components/parameters/ETClientName'
      responses:
        '200':
          description: Matching places
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Result'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  parameters:
    ETClientName:
      name: Et-Client-Name
      in: header
      description: Client identifier
      schema:
        type: string
      example: "my-example-application"

    Ids:
      name: ids
      in: query
      required: true
      description: Place IDs to look up (at most 100)
      style: form
      explode: false
      schema:
        type: array
        maxItems: 100
        items:
          type: string
      example: [NSR:StopPlace:337, NSR:StopPlace:59872]

    Query:
      name: q
      in: query
      required: true
      description: Search query
      schema:
        type: string
        minLength: 1
      example: "Oslo S"

    Limit:
      name: limit
      in: query
      description: Maximum number of results
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
      example: 10

    Language:
      name: lang
      in: query
      description: Language code for result names
      schema:
        type: string
        default: "no"
      example: "no"

    Layers:
      name: layers
      in: query
      description: Layer filter
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum: [address, street, stopPlace, groupOfStopPlaces, poi, place]
      example: [stopPlace, address]

    StopPlaceTypes:
      name: stopPlaceTypes
      in: query
      description: Restrict results to stop places of these NeTEx types. Results from other layers (addresses, POIs, streets, places) are excluded - same semantics as v2's `categories` filter.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum: [onstreetBus, onstreetTram, airport, railStation, metroStation, busStation, coachStation, tramStation, harbourPort, ferryPort, ferryStop, liftStation, vehicleRailInterchange, other]
      example: [railStation, metroStation]

    Sources:
      name: sources
      in: query
      description: Data source filter
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
          enum: [openstreetmap, kartverket-matrikkelenadresse, kartverket-stedsnavn, nsr, custom-poi]
      example: [openstreetmap]

    Countries:
      name: countries
      in: query
      description: ISO 3166-1 alpha-2 country code filter
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
      example: [no]

    Counties:
      name: counties
      in: query
      description: County IDs filter
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
      example: ["KVE:TopographicPlace:03"]

    Localities:
      name: localities
      in: query
      description: Locality IDs filter
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
      example: ["KVE:TopographicPlace:0301"]

    FareZones:
      name: fareZones
      in: query
      description: |
        Fare zone IDs filter. Refs must be FareZone-shaped (e.g. `RUT:FareZone:1`); TariffZone-shaped
        refs do not match because the two namespaces are indexed under distinct prefixes.
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
      example: ["RUT:FareZone:1"]

    FareZoneAuthorities:
      name: fareZoneAuthorities
      in: query
      description: Fare zone authorities filter
      style: form
      explode: false
      schema:
        type: array
        items:
          type: string
      example: ["RUT:Authority:RUT"]

    Multimodal:
      name: multimodal
      in: query
      description: "Multimodal stop place filter. Standalone (monomodal) stop places always appear; this only decides whether multimodal parents, children, or both appear alongside them: `parent` (default) hides multimodal children, `child` hides multimodal parents, `all` shows both"
      schema:
        type: string
        enum: [parent, child, all]
        default: "parent"
      example: "parent"

    AutocompleteLatitude:
      name: lat
      in: query
      description: Focus point latitude. When provided with lon, results near this point are boosted.
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
      example: 59.9110

    AutocompleteLongitude:
      name: lon
      in: query
      description: Focus point longitude. Must be provided together with lat.
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
      example: 10.7522

    AutocompleteRadius:
      name: radius
      in: query
      description: Focus radius in kilometres (decimals accepted). Results within this distance from the focus point receive the strongest boost.
      schema:
        type: number
        format: double
        minimum: 0
        default: 50
      example: 50

    AutocompleteWeight:
      name: weight
      in: query
      description: "Focus weight: how strongly to prefer results near the focus point. 0 = no preference, 1 = maximum preference."
      schema:
        type: number
        format: double
        minimum: 0
        maximum: 1
        default: 0.5
      example: 0.5

    Bbox:
      name: bbox
      in: query
      description: "Restrict results to a bounding box: `minLon,minLat,maxLon,maxLat`. Unlike the focus point (a soft bias), this is a hard filter."
      schema:
        type: string
        pattern: '^\s*-?\d+(\.\d+)?(\s*,\s*-?\d+(\.\d+)?){3}\s*$'
      example: "10.5,59.8,10.9,60.0"

    DistanceSort:
      name: distanceSort
      in: query
      description: Sort reverse results by distance from the query point (default) or by relevance when false.
      schema:
        type: boolean
        default: true
      example: true

    Latitude:
      name: lat
      in: query
      required: true
      description: Latitude
      schema:
        type: number
        format: double
        minimum: -90
        maximum: 90
      example: 59.9110

    Longitude:
      name: lon
      in: query
      required: true
      description: Longitude
      schema:
        type: number
        format: double
        minimum: -180
        maximum: 180
      example: 10.7522

    Radius:
      name: radius
      in: query
      description: Search radius in kilometres (decimals accepted). If omitted, no radius limit is applied.
      schema:
        type: number
        format: double
        minimum: 0
      example: 0.5

  schemas:
    Result:
      type: object
      required:
        - type
        - features
        - metadata
      properties:
        type:
          type: string
          enum: [FeatureCollection]
        features:
          type: array
          items:
            $ref: '#/components/schemas/Feature'
        metadata:
          $ref: '#/components/schemas/Metadata'
        bbox:
          type: array
          description: "[minLon, minLat, maxLon, maxLat]"
          items:
            type: number
          minItems: 4
          maxItems: 4
          example: [10.7335, 59.9110, 10.7522, 59.9144]

    Feature:
      type: object
      required:
        - type
        - geometry
        - properties
      properties:
        type:
          type: string
          enum: [Feature]
        geometry:
          $ref: '#/components/schemas/Geometry'
        properties:
          $ref: '#/components/schemas/Place'
        bbox:
          type: array
          description: GeoJSON bounding box `[minLon, minLat, maxLon, maxLat]`. Present for features with a real extent (streets, groups of stop places); omitted for point features.
          items:
            type: number
          minItems: 4
          maxItems: 4
          example: [10.73, 59.91, 10.76, 59.92]

    Geometry:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum: [Point]
        coordinates:
          type: array
          description: "[longitude, latitude]"
          items:
            type: number
          minItems: 2
          maxItems: 2
          example: [10.7522, 59.9110]

    Place:
      type: object
      required:
        - id
        - names
        - layer
        - source
      properties:
        id:
          type: string
          example: "NSR:StopPlace:59872"
        names:
          $ref: '#/components/schemas/Names'
        layer:
          $ref: '#/components/schemas/Layer'
        address:
          $ref: '#/components/schemas/Address'
        categories:
          type: array
          items:
            type: string
          example: ["restaurant"]
        fareZones:
          type: array
          items:
            type: string
          example: ["RUT:FareZone:4"]
        transportModes:
          type: array
          items:
            $ref: '#/components/schemas/TransportMode'
        stopPlaceTypes:
          type: array
          description: NeTEx StopPlaceType values (same value set as the `stopPlaceTypes` filter parameter)
          items:
            type: string
          example: ["onstreetBus"]
        source:
          type: string
          description: Data source identifier (same values as the sources filter)
          enum:
            - openstreetmap
            - kartverket-matrikkelenadresse
            - kartverket-stedsnavn
            - nsr
            - custom-poi
          example: "nsr"
        distance:
          type: number
          format: double
          description: Distance from the reverse query point in kilometres (3-decimal precision). Present on `/v3/reverse` responses only; the field is omitted (not `null`) on autocomplete and place lookup.
          example: 0.142
        description:
          type: object
          description: Per-language description. Keys are ISO 639-2 alpha-3 language codes (`nor`, `eng`, etc.). The field is omitted (not `null`) when the underlying record has no description.
          additionalProperties:
            type: string
          example:
            nor: "Norges nasjonalteater"
            eng: "Norway's national theatre"

    Names:
      type: object
      required:
        - default
        - display
      properties:
        default:
          type: string
          description: Official name
          example: "Oslo S"
        label:
          type: string
          description: Common or colloquial name
          example: "Oslo Sentralstasjon"
        display:
          type: string
          description: Formatted name with locality context, suitable for display
          example: "Oslo S, Oslo"

    Address:
      type: object
      properties:
        streetName:
          type: string
          example: "Jernbanetorget"
        houseNumber:
          type: string
          example: "1"
        postalCode:
          type: string
          example: "0154"
        locality:
          type: string
          example: "Oslo"
        localityId:
          type: string
          example: "KVE:TopographicPlace:0301"
        borough:
          type: string
          example: "Sentrum"
        boroughId:
          type: string
          example: "KVE:Borough:34200502"
        county:
          type: string
          example: "Oslo"
        countyId:
          type: string
          example: "KVE:TopographicPlace:03"
        countryCode:
          type: string
          example: "no"

    TransportMode:
      type: object
      required:
        - mode
      properties:
        mode:
          type: string
          example: "bus"
        subMode:
          type: string
          example: "localBus"

    Layer:
      type: string
      enum:
        - address
        - street
        - stopPlace
        - groupOfStopPlaces
        - poi
        - place
      example: "stopPlace"

    Metadata:
      type: object
      required:
        - query
        - resultCount
        - timestamp
      properties:
        query:
          $ref: '#/components/schemas/QueryInfo'
        resultCount:
          type: integer
          example: 5
        timestamp:
          type: string
          format: date-time
          description: Response generation time as an ISO 8601 instant (UTC).
          example: "2025-03-04T11:00:00Z"

    QueryInfo:
      type: object
      required:
        - limit
        - lang
      properties:
        text:
          type: string
          example: "Oslo S"
        lat:
          type: number
          format: double
          example: 59.9110
        lon:
          type: number
          format: double
          example: 10.7522
        limit:
          type: integer
          example: 10
        lang:
          type: string
          example: "no"
        filters:
          $ref: '#/components/schemas/Filters'

    Filters:
      type: object
      properties:
        layers:
          type: array
          items:
            $ref: '#/components/schemas/Layer'
        sources:
          type: array
          items:
            type: string
        countries:
          type: array
          items:
            type: string
        counties:
          type: array
          items:
            type: string
        localities:
          type: array
          items:
            type: string
        fareZones:
          type: array
          items:
            type: string
        fareZoneAuthorities:
          type: array
          items:
            type: string
        multimodal:
          type: string
          enum: [parent, child, all]

    Error:
      type: object
      required:
        - status
        - title
      properties:
        status:
          type: integer
          example: 400
        title:
          type: string
          example: "Bad Request"
        detail:
          type: string
          example: "Parameter 'lat' is required"
