name: Photon - Import data and/or deploy

on:
  workflow_dispatch:
    inputs:
      build_import:
        description: 'Build import image?'
        required: true
        type: boolean
        default: false
      deploy_env:
        description: 'Deploy Photon to (none = no deployment)'
        required: true
        type: choice
        options:
          - none
          - dev
          - tst
          - both
        default: 'none'
      import_image_tag:
        description: 'Import image tag to use for photon build (if not building import)'
        required: false
        default: 'latest'
        type: string

run-name: "Photon: import=${{ inputs.build_import }}, deploy=${{ inputs.deploy_env }} (sha: ${{ github.sha }})"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  import:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Docker Lint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile.import

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: '21'

      - name: Build converter JAR
        run: ./gradlew --no-daemon :converter:build

      - name: Build and push Docker image
        id: build-push
        if: inputs.build_import == true
        uses: ./.github/actions/build-push
        with:
          image_name: geocoder-import
          dockerfile: Dockerfile.import
          push: true
          run-group: 'grp-ubuntu-24.04-8core-x64'

      - name: Docker Scan
        if: github.event_name != 'pull_request'
        uses: ./.github/actions/docker-scan
        with:
          image_name: "${{ steps.build-push.outputs.image_name }}:${{ steps.build-push.outputs.image_tag }}"

  photon:
    runs-on: ubuntu-latest
    if: |
      always() &&
      !cancelled() &&
      inputs.deploy_env != 'none' &&
      (inputs.build_import == false || needs.import-build-push.result == 'success')

    steps:
      - name: Docker Lint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile.photon

      - name: Build and push Docker image
        id: build-push
        if: inputs.deploy_env != 'none'
        uses: ./.github/actions/build-push
        with:
          image_name: geocoder-photon
          dockerfile: Dockerfile.photon
          push: ${{ inputs.deploy_env != 'none' }}
          build_args: |
            IMPORT_IMAGE=eu.gcr.io/entur-system-1287/geocoder-import:${{ inputs.build_import == true && needs.import.outputs.image_tag || inputs.import_image_tag }}

      - name: Docker Scan
        uses: ./.github/actions/docker-scan
        with:
          image_name: "${{ steps.build-push.outputs.image_name }}:${{ steps.build-push.outputs.image_tag }}"

  dev-deploy:
    if: |
      !cancelled() &&
      github.ref == 'refs/heads/main' &&
      needs.photon-build-push.result == 'success' &&
      (inputs.deploy_env == 'dev' || inputs.deploy_env == 'both')
    needs: [photon]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: dev
      image: ${{ needs.photon-build-push.outputs.image_name }}:${{ needs.photon-build-push.outputs.image_tag }}
      chart: helm/geocoder-photon
      namespace: geocoder
      release_name: geocoder-photon
    secrets: inherit

  tst-deploy:
    if: |
      !cancelled() &&
      github.ref == 'refs/heads/main' &&
      needs.photon-build-push.result == 'success' &&
      (inputs.deploy_env == 'tst' || inputs.deploy_env == 'both')
    needs: [photon]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: tst
      image: ${{ needs.photon-build-push.outputs.image_name }}:${{ needs.photon-build-push.outputs.image_tag }}
      chart: helm/geocoder-photon
      namespace: geocoder
      release_name: geocoder-photon
    secrets: inherit
