name: Build it

on:
  push:
  pull_request:

jobs:
  lint-proxy:
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
    with:
      dockerfile: Dockerfile.proxy

  build-proxy:
    uses: entur/gha-docker/.github/workflows/build.yml@v1
    needs: lint-proxy
    with:
      dockerfile: Dockerfile.proxy
      image_name: netex-photon-proxy

  push-proxy:
    if: ${{ github.event_name != 'pull_request' }}
    uses: entur/gha-docker/.github/workflows/push.yml@v1
    needs: build-proxy
    with:
      dockerfile: Dockerfile.proxy
      image_name: netex-photon-proxy

  scan-proxy:
    uses: entur/gha-security/.github/workflows/docker-scan.yml@v2
    needs: build-proxy
    with:
      image_artifact: ${{ needs.build-proxy.outputs.image_artifact }}


  lint-photon:
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
    with:
      dockerfile: Dockerfile.photon
      ignore: "DL3018"

  build-photon:
    uses: entur/gha-docker/.github/workflows/build.yml@v1
    needs: lint-photon
    with:
      dockerfile: Dockerfile.photon
      image_name: netex-photon-photon

  push-photon:
    if: ${{ github.event_name != 'pull_request' }}
    uses: entur/gha-docker/.github/workflows/push.yml@v1
    needs: build-photon
    with:
      dockerfile: Dockerfile.photon
      image_name: netex-photon-photon

  scan-photon:
    uses: entur/gha-security/.github/workflows/docker-scan.yml@v2
    needs: build-proxy
    with:
      image_artifact: ${{ needs.build-photon.outputs.image_artifact }}

