name: Build it

on:
  push:
  pull_request:

jobs:
  proxy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker Lint
        uses: entur/gha-docker/.github/workflows/lint.yml@v1
        with:
          dockerfile: Dockerfile.proxy

      - name: Docker Build
        uses: entur/gha-docker/.github/workflows/build.yml@v1
        with:
          dockerfile: Dockerfile.proxy

      - name: Docker Push
        if: ${{ github.event_name != 'pull_request' }}
        uses: entur/gha-docker/.github/workflows/push.yml@v1
        with:
          dockerfile: Dockerfile.proxy

  photon:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Docker Lint
        uses: entur/gha-docker/.github/workflows/lint.yml@v1
        with:
          dockerfile: Dockerfile.photon

      - name: Docker Build
        uses: entur/gha-docker/.github/workflows/build.yml@v1
        with:
          dockerfile: Dockerfile.photon

      - name: Docker Push
        if: ${{ github.event_name != 'pull_request' }}
        uses: entur/gha-docker/.github/workflows/push.yml@v1
        with:
          dockerfile: Dockerfile.photon
