name: Build it

on:
  push:
  pull_request:

jobs:
  docker-lint-proxy:
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
    with:
      dockerfile: Dockerfile.proxy

  docker-build-proxy:
    uses: entur/gha-docker/.github/workflows/build.yml@v1
    with:
      dockerfile: Dockerfile.proxy
      image_name: netex-photon-proxy

  docker-push-proxy:
    if: ${{ github.event_name != 'pull_request' }}
    uses: entur/gha-docker/.github/workflows/push.yml@v1
    with:
      dockerfile: Dockerfile.proxy
      image_name: netex-photon-proxy

  docker-lint-photon:
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
    with:
      dockerfile: Dockerfile.photon

  docker-build-photon:
    uses: entur/gha-docker/.github/workflows/build.yml@v1
    with:
      dockerfile: Dockerfile.photon
      image_name: netex-photon-photon

  docker-push-photon:
    if: ${{ github.event_name != 'pull_request' }}
    uses: entur/gha-docker/.github/workflows/push.yml@v1
    with:
      dockerfile: Dockerfile.photon
      image_name: netex-photon-photon

