name: Photon - Import data and/or deploy

on:
  workflow_dispatch:
    inputs:
      build_import:
        description: 'Build import image?'
        required: true
        type: boolean
        default: false
      deploy_env:
        description: 'Deploy Photon to (none = no deployment)'
        required: true
        type: choice
        options:
          - none
          - dev
          - staging
          - both
        default: 'none'
      import_image_tag:
        description: 'Import image tag to use for photon build (if not building import)'
        required: false
        default: 'latest'
        type: string
      photon_jar_url:
        description: 'Photon JAR URL'
        required: false
        type: string
        default: 'https://github.com/entur/photon/releases/download/linear-decay/photon-0.7.0.1.jar'

run-name: "Photon: import=${{ inputs.build_import }}, deploy=${{ inputs.deploy_env }}, tag=${{ inputs.import_image_tag }}"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Run import and create artifacts
  create-nominatim-data:
    if: inputs.build_import == true
    runs-on: ubuntu-latest-8core
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'liberica'
          java-version: '21'
          cache: gradle

      - name: Build converter JAR
        run: ./gradlew :converter:shadowJar

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y libarchive-tools

      - name: Run create-nominatim-data.sh
        run: ./create-nominatim-data.sh
        working-directory: converter

      - uses: actions/upload-artifact@v4
        with:
          name: nominatim-data
          path: converter/nominatim.ndjson.xz
          retention-days: 1

  create-photon-data:
    if: |
      inputs.build_import == true &&
      needs.run-import.result == 'success'
    needs: create-nominatim-data
    runs-on: ubuntu-latest-8core
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'liberica'
          java-version: '21'

      - name: Download nominatim data
        uses: actions/download-artifact@v4
        with:
          name: nominatim-data
          path: converter

      - name: Run create-photon-data.sh
        working-directory: converter
        run: ./create-photon-data.sh "${{ inputs.photon_jar_url }}"

      - name: Upload photon data
        uses: actions/upload-artifact@v4
        with:
          name: photon-data
          path: converter/photon_data.tar.xz
          retention-days: 1

  # Photon image jobs
  photon-lint:
    if: inputs.deploy_env != 'none'
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
    with:
      dockerfile: photon/Dockerfile
      ignore: "DL3018,DL3059"

  photon-build-push:
    if: |
      !cancelled() &&
      inputs.deploy_env != 'none' &&
      (inputs.build_import == false || needs.create-photon-data.result == 'success')
    needs: [photon-lint, create-photon-data]
    uses: "./.github/workflows/_build-push.yml"
    with:
      image_name: geocoder-photon
      context: photon
      push: true
      artifact_name: ${{ inputs.build_import == true && 'photon-data' || '' }}
      build_args: PHOTON_JAR_URL=${{ inputs.photon_jar_url }}

  photon-scan:
    if: |
      !cancelled() &&
      needs.photon-build-push.result == 'success' &&
      inputs.deploy_env != 'none'
    needs: [photon-build-push]
    uses: "./.github/workflows/_docker-scan.yml"
    with:
      image: "geocoder-photon:${{ needs.photon-build-push.outputs.image_tag }}"

  # Deploy jobs
  dev-deploy:
    if: |
      !cancelled() &&
      github.ref == 'refs/heads/main' &&
      needs.photon-build-push.result == 'success' &&
      (inputs.deploy_env == 'dev' || inputs.deploy_env == 'both')
    needs: [photon-build-push]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: dev
      image: "geocoder-photon:${{ needs.photon-build-push.outputs.image_tag }}"
      chart: helm/geocoder-photon
      namespace: geocoder
      release_name: geocoder-photon
    secrets: inherit

  acceptance-tests-dev:
    if: needs.dev-deploy.result == 'success'
    needs: dev-deploy
    uses: "./.github/workflows/acceptance-tests.yml"
    with:
      environment: dev

  staging-deploy:
    if: |
      !cancelled() &&
      github.ref == 'refs/heads/main' &&
      needs.photon-build-push.result == 'success' &&
      (inputs.deploy_env == 'staging' || inputs.deploy_env == 'both')
    needs: [photon-build-push]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: tst
      image: "geocoder-photon:${{ needs.photon-build-push.outputs.image_tag }}"
      chart: helm/geocoder-photon
      namespace: geocoder
      release_name: geocoder-photon
    secrets: inherit

  acceptance-tests-staging:
    if: needs.staging-deploy.result == 'success'
    needs: staging-deploy
    uses: "./.github/workflows/acceptance-tests.yml"
    with:
      environment: staging
