name: Photon - Import data and/or deploy

on:
  workflow_dispatch:
    inputs:
      build_import:
        description: 'Build import image?'
        required: true
        type: boolean
        default: false
      deploy_env:
        description: 'Deploy Photon to (none = no deployment)'
        required: true
        type: choice
        options:
          - none
          - dev
          - tst
          - both
        default: 'none'
      import_image_tag:
        description: 'Import image tag to use for photon build (if not building import)'
        required: false
        default: 'latest'
        type: string

run-name: "Build: import=${{ inputs.build_import }}, deploy=${{ inputs.deploy_env }} (sha: ${{ github.sha }})"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # Import image jobs
  import-lint:
    if: inputs.build_import == true
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
    with:
      dockerfile: Dockerfile.import
      ignore: "DL3018,DL3059"

  import-build-push:
    if: inputs.build_import == true
    needs: import-lint
    uses: "./.github/workflows/_build-push.yml"
    with:
      image_name: geocoder-import
      dockerfile: Dockerfile.import

  import-scan:
    # TODO: Temporary disable scanning since docker-scan doesn't log into GCR
    if: false && inputs.build_import == true
    needs: [import-build-push]
    uses: entur/gha-security/.github/workflows/docker-scan.yml@v2
    with:
      image_artifact: ${{ needs.import-build-push.outputs.image_name }}:${{ needs.import-build-push.outputs.image_tag }}

  # Photon image jobs
  photon-lint:
    if: inputs.deploy_env != 'none'
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
    with:
      dockerfile: Dockerfile.photon
      ignore: "DL3018,DL3059"

  photon-build-push:
    if: |
      always() &&
      !cancelled() &&
      inputs.deploy_env != 'none' &&
      (inputs.build_import == false || needs.import-build-push.result == 'success')
    needs: [photon-lint, import-build-push]
    uses: "./.github/workflows/_build-push.yml"
    with:
      image_name: geocoder-photon
      dockerfile: Dockerfile.photon
      build_args: |
        IMPORT_IMAGE=eu.gcr.io/entur-system-1287/geocoder-import:${{ inputs.build_import == true && needs.import-build-push.outputs.image_tag || inputs.import_image_tag }}

  photon-scan:
    # TODO: Temporary disable scanning since docker-scan doesn't log into GCR
    if: inputs.deploy_env != 'none'
    needs: [photon-build-push]
    uses: entur/gha-security/.github/workflows/docker-scan.yml@v2
    permissions:
      contents: read
      id-token: write
    secrets: inherit
    with:
      image_artifact: ${{ needs.photon-build-push.outputs.image_name }}:${{ needs.photon-build-push.outputs.image_tag }}

  # Deploy jobs
  dev-deploy:
    if: |
      always() && 
      !cancelled() &&
      (inputs.deploy_env == 'dev' || inputs.deploy_env == 'both')
    needs: [photon-build-push]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: dev
      image: ${{ needs.photon-build-push.outputs.image_name }}:${{ needs.photon-build-push.outputs.image_tag }}
      chart: helm/geocoder-photon
      namespace: geocoder
      release_name: geocoder-photon
    secrets: inherit

  tst-deploy:
    if: |
      always() && 
      !cancelled() &&
      (inputs.deploy_env == 'tst' || inputs.deploy_env == 'both')
    needs: [photon-build-push]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: tst
      image: ${{ needs.photon-build-push.outputs.image_name }}:${{ needs.photon-build-push.outputs.image_tag }}
      chart: helm/geocoder-photon
      namespace: geocoder
      release_name: geocoder-photon
    secrets: inherit
