name: Photon - Full import, build and deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment to deploy to'
        required: true
        type: choice
        options:
          - dev
          - tst
          - both

run-name: "Manual build for ${{ inputs.environment }} (sha: ${{ github.sha }})"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    uses: entur/gha-docker/.github/workflows/lint.yml@v1
    with:
      dockerfile: Dockerfile.photon
      ignore: "DL3018,DL3059"

  build:
    needs: lint
    uses: entur/gha-docker/.github/workflows/build.yml@v1
    with:
      dockerfile: Dockerfile.photon
      image_name: geocoder-photon

  push:
    needs: build
    uses: entur/gha-docker/.github/workflows/push.yml@v1
    with:
      dockerfile: Dockerfile.photon
      image_name: geocoder-photon

  scan:
    needs: [build]
    uses: entur/gha-security/.github/workflows/docker-scan.yml@v2
    with:
      image_artifact: ${{ needs.build.outputs.image_artifact }}

  deploy-dev:
    needs: push
    if: inputs.environment == 'dev' || inputs.environment == 'both'
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: dev
      image: ${{ needs.push.outputs.image_name }}:${{ needs.push.outputs.image_tag}}
      chart: helm/geocoder-photon
      namespace: geocoder
      release_name: geocoder-photon
    secrets: inherit

  deploy-tst:
    needs: push
    if: inputs.environment == 'tst' || inputs.environment == 'both'
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: tst
      image: ${{ needs.push.outputs.image_name }}:${{ needs.push.outputs.image_tag}}
      chart: helm/geocoder-photon
      namespace: geocoder
      release_name: geocoder-photon
    secrets: inherit

