name: Photon - Import data and/or deploy

on:
  workflow_dispatch:
    inputs:
      build_import:
        description: 'Build import image?'
        required: true
        type: boolean
        default: false
      deploy_env:
        description: 'Deploy Photon to (none = no deployment)'
        required: true
        type: choice
        options:
          - none
          - dev
          - tst
          - both
        default: 'none'
      import_image_tag:
        description: 'Import image tag to use for photon build (if not building import)'
        required: false
        default: 'latest'
        type: string

run-name: "Photon: import=${{ inputs.build_import }}, deploy=${{ inputs.deploy_env }} (sha: ${{ github.sha }})"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  import:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      security-events: write
      actions: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: '21'
          cache: 'gradle'

      - name: Build converter JAR
        run: ./gradlew --no-daemon :converter:build

      - name: Build and push Docker image
        id: build-push
        if: inputs.build_import == true
        uses: ./.github/actions/build-push
        with:
          image_name: geocoder-import
          dockerfile: Dockerfile.import
          push: true
          run-group: 'grp-ubuntu-24.04-8core-x64'
          service_account: ${{ vars.CI_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ vars.CI_WORKLOAD_IDENTITY_PROVIDER }}

  photon:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      security-events: write
      actions: read

    if: |
      always() &&
      !cancelled() &&
      inputs.deploy_env != 'none' &&
      (inputs.build_import == false || needs.import-build-push.result == 'success')

    steps:
      - name: Build and push Docker image
        id: build-push
        if: inputs.deploy_env != 'none'
        uses: ./.github/actions/build-push
        with:
          image_name: geocoder-photon
          dockerfile: Dockerfile.photon
          push: ${{ inputs.deploy_env != 'none' }}
          build_args: |
            IMPORT_IMAGE=eu.gcr.io/entur-system-1287/geocoder-import:${{ inputs.build_import == true && needs.import.outputs.image_tag || inputs.import_image_tag }}
          service_account: ${{ vars.CI_SERVICE_ACCOUNT }}
          workload_identity_provider: ${{ vars.CI_WORKLOAD_IDENTITY_PROVIDER }}

  dev-deploy:
    if: |
      !cancelled() &&
      github.ref == 'refs/heads/main' &&
      needs.photon.result == 'success' &&
      (inputs.deploy_env == 'dev' || inputs.deploy_env == 'both')
    needs: [photon]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: dev
      image: ${{ needs.photon.outputs.name_with_tag }}
      chart: helm/geocoder-photon
      namespace: geocoder
      release_name: geocoder-photon
    secrets: inherit

  tst-deploy:
    if: |
      !cancelled() &&
      github.ref == 'refs/heads/main' &&
      needs.photon.result == 'success' &&
      (inputs.deploy_env == 'tst' || inputs.deploy_env == 'both')
    needs: [photon]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1
    with:
      environment: tst
      image: ${{ needs.photon.outputs.name_with_tag }}
      chart: helm/geocoder-photon
      namespace: geocoder
      release_name: geocoder-photon
    secrets: inherit
