name: Converter

on:
  push:
    paths:
      - 'converter/**'
      - 'common/**'
      - 'gradle/**'
      - '*gradle*'
      - '.github/workflows/converter.yml'
      - '.github/actions/**'
      - '!**/*.md'
  pull_request:
    paths:
      - 'converter/**'
      - 'common/**'
      - 'gradle/**'
      - '*gradle*'
      - '.github/workflows/converter.yml'
      - '.github/actions/**'
      - '!**/*.md'

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: liberica
          java-version: 25
          cache: gradle

      - name: Build with Gradle
        run: ./gradlew --no-daemon :converter:build
